@font-face {
  font-family: "iconfont"; /* Project id 3986967 */
  src: url('iconfont.woff2?t=1681388063641') format('woff2'),
       url('iconfont.woff?t=1681388063641') format('woff'),
       url('iconfont.ttf?t=1681388063641') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_xinyong_xianxing_jijin-:before {
  content: "\e623";
}

.icon-lianjie1:before {
  content: "\e718";
}

.icon-tubiaozhizuomoban_bashi:before {
  content: "\e601";
}

.icon-tubiaozhizuomoban_fengjing:before {
  content: "\e602";
}

.icon-tubiaozhizuomoban_huoche:before {
  content: "\e603";
}

.icon-tubiaozhizuomoban_feiji:before {
  content: "\e604";
}

.icon-tubiaozhizuomoban_shatan:before {
  content: "\e605";
}

.icon-tubiaozhizuomoban_yinpin:before {
  content: "\e606";
}

.icon-lianjie:before {
  content: "\e754";
}

.icon-gengduo:before {
  content: "\e696";
}

.icon-shanchu:before {
  content: "\e60b";
}

.icon-jihuo:before {
  content: "\e617";
}

